
div.my_wrapper{
  max-width: 1100px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 10px !important;
}

p, ul, li,dl, dt, dd, fieldset, input, label{
  font-size: 14px !important;
  line-height: 1.5;
}

h1 {
  font-size: 26px !important;}

h2 {
  font-size: 22px !important;}

h3 {
  font-size: 20px !important;}

abbr[title] {
  border: none;}

a.navbar-brand img{
  display: inline-block !important;
  vertical-align: top;
}

a.navbar-brand strong{
  display: inline-block !important;
  vertical-align: center ;
  color: #333;
  line-height: 2;
  font-size: 22px;
}
a.navbar-brand strong:hover{
  color: #BF3604
}
div.navbar-inner .container{
  padding: 10px 0;
}

/*section{
  padding: 40px 0 !important;  
}*/

section div{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  text-align: left;
}
section#mean_stack{
  color: #f3f4f5;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
section#mean_stack h2{
  color: #f3f4f5;
}
section#mean_stack div.col_content{
  border: 1px solid white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 25px;
  min-height: 340px;
}

section h2{
  text-shadow: 0px 1px 1px #666;
  text-align: center;
  text-transform: capitalize;
}

section#about, section#andela_fellow{
  background: #102078 url(/modules/core/img/bg3.jpg) no-repeat top left;
  background-size: cover;
}

.navbar-simple .brand {
padding-top: 15px;
padding-bottom: 15px;
}
.navbar-simple .navbar-inner {
background: #fff;
background: rgba(255, 255, 255, 1);
filter: none !important;
box-shadow: 0 2px 15px rgba(0,0,0,0.25);
-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-simple .navbar-inner .nav {
float: right;
}
.navbar-simple .navbar-inner .nav li a {
background: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
color: #777;
font-size: 13px;
padding-top: 15px;
padding-bottom: 15px;
font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
background: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
color: #bf3604;
} 
.navbar-simple .navbar-inner .nav li.active a {
color: #bf3604;
}


.navbar-harvest .navbar-inner {
background: #f36c00;
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f68a28), color-stop(100%, #f36c00));
background: -webkit-linear-gradient(top, #f68a28,#f36c00);
background: -moz-linear-gradient(top, #f68a28,#f36c00);
background: -o-linear-gradient(top, #f68a28,#f36c00);
background: -ms-linear-gradient(top, #f68a28,#f36c00);
background: linear-gradient(top, #f68a28,#f36c00);
} 
.navbar-harvest .navbar-inner .nav {
float: right;
} 
.navbar-harvest .brand {
color: #fff;
text-shadow: none;
padding-top: 20px;
padding-bottom: 20px;
}
.navbar-harvest .navbar-inner .nav li a {
color: #fff;
padding-top: 20px;
padding-bottom: 20px;
text-shadow: none;
background: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-transition: background 0.1s linear,opacity 0.1s linear;
-moz-transition: background 0.1s linear,opacity 0.1s linear;
-ms-transition: background 0.1s linear,opacity 0.1s linear;
-o-transition: background 0.1s linear,opacity 0.1s linear;
transition: background 0.1s linear,opacity 0.1s linear;
-webkit-font-smoothing: antialiased;  
opacity: .9;
font-weight: 600;
}
.navbar-harvest .navbar-inner .nav li a:hover {
background: #f67d0f;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
color: #fff;
opacity: 1;
}


.fixed-bg-div {
  padding-top: 15px !important;
  background-color: transparent;
  background-image: -webkit-linear-gradient(#800b36, rgba(128, 11, 54, 0.50) 56%);
  background-image: -o-linear-gradient(#800b36, rgba(128, 11, 54, 0.50) 56%);
  background-image: linear-gradient(#800b36, rgba(128, 11, 54, 0.50) 56%);
}
.fixed-bg-image {
  padding-top: 5px !important;
  background-color: tomato;
  background-image: url('/modules/core/img/parlex.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

#andela_fellow .card{
  height: 450px !important;
}

/*#andela_fellow .card*/
{
  background: -moz-linear-gradient(top,  rgba(128,11,54,0.56) 0%, rgba(171,52,125,0.48) 47%, rgba(218,97,203,0.68) 99%, rgba(219,98,205,0.68) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,11,54,0.56)), color-stop(47%,rgba(171,52,125,0.48)), color-stop(99%,rgba(218,97,203,0.68)), color-stop(100%,rgba(219,98,205,0.68))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(128,11,54,0.56) 0%,rgba(171,52,125,0.48) 47%,rgba(218,97,203,0.68) 99%,rgba(219,98,205,0.68) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(128,11,54,0.56) 0%,rgba(171,52,125,0.48) 47%,rgba(218,97,203,0.68) 99%,rgba(219,98,205,0.68) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(128,11,54,0.56) 0%,rgba(171,52,125,0.48) 47%,rgba(218,97,203,0.68) 99%,rgba(219,98,205,0.68) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(128,11,54,0.56) 0%,rgba(171,52,125,0.48) 47%,rgba(218,97,203,0.68) 99%,rgba(219,98,205,0.68) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f800b36', endColorstr='#addb62cd',GradientType=0 ); /* IE6-9 */
}

#andela_fellow p{
  padding: 0 15px !important;
}

.blue-btn-custom { 
 background-color: hsl(216, 97%, 42%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0356d2", endColorstr="#0356d2"); background-image: -khtml-gradient(linear, left top, left bottom, from(#0356d2), to(#0356d2)); background-image: -moz-linear-gradient(top, #0356d2, #0356d2); background-image: -ms-linear-gradient(top, #0356d2, #0356d2); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0356d2), color-stop(100%, #0356d2)); background-image: -webkit-linear-gradient(top, #0356d2, #0356d2); background-image: -o-linear-gradient(top, #0356d2, #0356d2); background-image: linear-gradient(#0356d2, #0356d2); border-color: #0356d2 #0356d2 hsl(216, 97%, 42%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00); -webkit-font-smoothing: antialiased;
}

.btn-custom{
  background-color: hsl(293, 97%, 30%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#850296", endColorstr="#850296"); background-image: -khtml-gradient(linear, left top, left bottom, from(#850296), to(#850296)); background-image: -moz-linear-gradient(top, #850296, #850296); background-image: -ms-linear-gradient(top, #850296, #850296); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #850296), color-stop(100%, #850296)); background-image: -webkit-linear-gradient(top, #850296, #850296); background-image: -o-linear-gradient(top, #850296, #850296); background-image: linear-gradient(#850296, #850296); border-color: #850296 #850296 hsl(293, 97%, 30%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00); -webkit-font-smoothing: antialiased;
}

.btn-plain{
  border: 1px solid #fff;
  color: #fff;
}
.btn-plain:hover{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: #333 !important;
}



/*images.css*/

.icon {
    font-size: 24px;
    width: 100px; padding: 20px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 10px;
}

.icon img{
    width: 100%;
}

.icon-color1 {
  background-color: #2c3e50;;
}

section#apply{
    color: white !important;
}

.fixed-bg-apply {
  padding-top: -5px !important;
  background-color: tomato;
  background-image: url('/modules/core/img/fellow.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

.fixed-bg-divapply {
  padding-top: 15px !important;
  background-color: transparent;
  background-image: -webkit-linear-gradient(#B2B2B2, rgba(128, 11, 54, 0.50) 56%);
  background-image: -o-linear-gradient(#B2B2B2, rgba(128, 11, 54, 0.50) 56%);
  background-image: linear-gradient(#B2B2B2, rgba(128, 11, 54, 0.50) 56%);
}



/*animate.css*/

.navbar-fixed-top, footer, section{
    overflow-x: hidden 
}

section{
    overflow: hidden;
}
.card
{
    background-color: #e2f0ff;
    overflow: hidden;
    transition: all  1.2s ease;
    color: black;
    height: 360px;

}

.cardnone
{
    background-color: #e2f0ff;
    overflow: hidden;
    /*transition: all  1.2s ease;*/
    color: black;
    height: 360px;

}

.card .card-body
{
    padding: 15px;
}

.card:hover {
    background: white; 
}

.card:hover .image-wrapper {
  -webkit-animation: moveFromTop 400ms ease;
  -moz-animation: moveFromTop 400ms ease;
  -ms-animation: moveFromTop 400ms ease;
}

.card:hover .image-wrapper img {
     opacity: 0.3;
}

.card:hover .card-content{
    opacity: 1;
    -webkit-animation: moveFromBottom 500ms ease;
    animation: moveFromBottom 500ms ease;
}

.card:hover .card-content .main {
    -webkit-animation: smallToBig 900ms ease;
    -moz-animation: smallToBig 900ms ease;
    -ms-animation: smallToBig 900ms ease;
}

@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes moveFromBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes moveFromBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@keyframes moveFromTop {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.card-body .card-content { 
   -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
 }
  
.card-body .read-more, .readMore {
   margin-top: 4%; 
   position:absolute; 
   bottom: 20px;
   left: 35%;
   right: 40%;
}

.cardbox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2%;
  position: relative;
  border: 4px solid white;
  box-shadow: 0 2px 7px #CCC;
  padding: 10px;
}

.image-wrapper {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}

.image-wrapper img{
  margin-top: 5%;
  max-width: 100%;
  transition: all  1.2s ease;
}

.main {
  text-align: center;
  font-size: 25px;
  width: 95%;
}

.butt{
  background: #2F558E;
  box-shadow: 0 3px 0 0 #1D3C6A;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  line-height: 1.6em;
  outline: none;
  padding: 10px;
  width: 50%;
  margin: auto;
}

