<section data-ng-controller="InstructorsController">
     <div class="container">
        <div class="link-controls">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="/#!/instructors/trainees">View Trainees</a></li>               
                <li><a href="/#!/instructors/fellows">View Fellows</a></li>
                <li><a href="/#!/instructors/editProfile">Edit Your Profile</a></li>
                <li><a href="/#!/instructors/addSkill">Add To Your Skills</a></li>
                <li><a href="/#!/instructors/bootcamps">View Bootcamps</a></li>
                <li><a href="/auth/signout">Signout</a></li>
            </ul>
        </div>
        <div class="admin-view">
            <div class="col-md-offset-4 col-md-4">
                <form class="basic-grey" data-ng-submit="updateAssessment()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="assessment_name">Assessment Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="assessment.assessment_name" id="assessment_name" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <em>{{dt | date:'fullDate'}}</em>
                        
                            <div>
                                <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label" for="score">Score</label>
                            <div class="controls">
                                <input type="text" data-ng-model="assessment.score" id="score" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" class="btn btn-large btn-success myButton">
                        </div>
        				<div data-ng-show="error" class="text-danger">
        					<strong data-ng-bind="error"></strong>
        				</div>
                    </fieldset>
                </form>
         	</div>
        </div>
    </div>
</section>
