<section data-ng-controller="InstructorsController" data-ng-init="editingRate()">
	 <div class="container" data-ng-show="user.role === 'instructor'">
        <ng-include src='"/modules/instructors/views/instructor.sidebar.html"'></ng-include>
        <div class="admin-view">
			<div class="col-md-offset-4 col-md-4">
				<form data-ng-submit="editFellowRate()" class="signin basic-grey" autocomplete="off">
					<fieldset>
						<div class="form-group">
							
							<label for="firstName">Skill</label>
							<input type="text" required id="skill" name="skill" class="form-control" data-ng-model="skillSetsNow.skill" placeholder="">
						</div>
						<div class="form-group">
				            <label for="category">Rate:</label>
			                <select data-ng-model="skillSetsNow.rating" id="category" required>
				                <option value="1">1</option>
				                <option value="2">2</option>
				                <option value="3">3</option>
				                <option value="4">4</option>
				                <option value="5">5</option>
				                <option value="6">6</option>
				                <option value="7">7</option>
				                <option value="8">8</option>
				                <option value="9">9</option>
				                <option value="10">10</option>
			                </select>
				            
			          	</div>
			          	<div class="form-group">
			          		<button type="submit" class="btn btn-xs btn-primary" ng-href="/#!/admin/appt">Update Rating</button>
			          	</div>
			          	<div data-ng-show="error" class="text-center text-danger">
			              	<strong data-ng-bind="error"></strong>
			          	</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	 <div data-ng-show="user.role !== 'instructor'">
        <div class="row">
            <div class="alert alert-danger col-md-offset-2 col-md-6">
                <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                <span><h4>You are not permitted to view this page</h4></span>
            </div>
        </div>
    </div>
</section>

         
              <!-- <input type="text" data-ng-model="data.skill" id="skill" required>
           -->

          