<div class="link-controls">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="/#!/instructors/trainees">View Trainees</a></li>               
        <li><a href="/#!/instructors/fellows">View Fellows</a></li>
        <li><a href="/#!/instructors/addSkill">Add To Your Skills</a></li>
        <li><a href="/#!/instructors/bootcamps">View Bootcamps</a></li>
        <li><a href="/#!/instructors/editProfile">Edit Your Profile</a></li>
        <li><a href="/#!/change-password">Change Your Password</a></li>
        <li><a href="/auth/signout">Signout</a></li>
    </ul>
</div>