<section data-ng-controller="InstructorsController">
    <div class="container" data-ng-init="instructorHome()">
        
       <div class="link-controls">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="/#!/instructors/trainees">View Trainees</a></li>               
                <li><a href="/#!/instructors/fellows">View Fellows</a></li>
                <li><a href="/#!/instructors/editProfile">Edit Your Profile</a></li>
                <li><a href="/#!/instructors/addSkill">Add To Your Skills</a></li>
                <li><a href="/#!/instructors/bootcamps">View Bootcamps</a></li>
                <li><a href="/auth/signout">Signout</a></li>
            </ul>
        </div>
        <div class="admin-view">
            <div class="col-sm-6 col-lg-4">
                <p>Your details:</p>
                <div>
                    <img class="profile_image" data-ng-src="{{showImage(user.photo)}}" />
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Name: <b data-ng-bind="user.firstName"></b>&nbsp;<b data-ng-bind="user.lastName"></b></li>
                    <li class="list-group-item">Username: <b data-ng-bind="user.username"></b></li>
                    <li class="list-group-item">Email: <b data-ng-bind="user.email"></b> </li>
                </ul>
                <!-- <ul data-ng-repeat="skillSet in user.skillSets" class="col-md-offset-2 col-md-8 list-group">
                    <li><strong data-ng-bind="skillSet.skill"></strong></li>
                    <li>Rating:<strong data-ng-bind="skillSet.rating"></strong></li>
                    <li><a class="btn btn-success pull-right" data-ng-click="deleteSkill($index, skillSet)"><i class="glyphicon glyphicon-trash"></i></a></li> -->
                    <!-- <p><a class="btn btn-success pull-right" href="/#!/instructors/trainees/{{trainee._id}}/{{assessment._id}}/edit" data-ng-click="editAssessment($index, assessment)"><i class="glyphicon glyphicon-ed1it"></i></a></p> -->
                <!-- </ul> -->
            </div>
        </div>
    </div>
</section>


