<section data-ng-controller="InstructorsController" data-ng-init="listBootcamps()">
    <div class="container"  data-ng-show="user.role === 'instructor'">
        <ng-include src='"/modules/instructors/views/instructor.sidebar.html"'></ng-include>
        <div class="admin-view">
            <div class="page-header text-center">
              <h1>Bootcamps</h1>
            </div>
            <div>
                <table class="list">
                    <thead>
                      <tr>
                        <th>Bootcamp Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Number of Applicants</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="bootcamp in bootcamps">
                            <td data-ng-bind="bootcamp.camp_name"></td>
                            <td data-ng-bind="bootcamp.start_date | date"></td>
                            <td data-ng-bind="bootcamp.end_date | date"></td>
                            <td data-ng-bind="bootcamp.applicants.length"></td>
                            <td><a class="btn btn-primary btn-xs" data-ng-href="/#!/instructors/bootcamps/{{bootcamp._id}}">view</a></td>
                        </tr>               
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div data-ng-show="user.role !== 'instructor'">
        <div class="row">
            <div class="alert alert-danger col-md-offset-2 col-md-6">
                <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                <span><h4>You are not permitted to view this page</h4></span>
            </div>
        </div>
    </div>
</section>


 
