<section data-ng-controller="InstructorsController" data-ng-init="listFellows()">
    <div class="container"  data-ng-show="user.role === 'instructor'">
        <ng-include src='"/modules/instructors/views/instructor.sidebar.html"'></ng-include>
        <div class="admin-view">
            <div class="page-header text-center">
                <h1>List of Fellows</h1>
            </div>
            <div>
                <table class="list">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Score</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="capitalize">
                        <tr data-ng-repeat="fellow in fellows" data-ng-href="/#!/instructors/fellows/{{fellow._id}}">
                            <td data-ng-bind="fellow.firstName"></td>
                            <td data-ng-bind="fellow.lastName"></td>
                            <td data-ng-bind="fellow.email"></td>
                            <td data-ng-bind="fellow.testScore"></td>
                            <td><a class="btn btn-primary btn-xs" data-ng-href="/#!/instructors/fellows/{{fellow._id}}" ng-click="view(fellow)">View</a></td>          
                        </tr>               
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     <div data-ng-show="user.role !== 'instructor'">
        <div class="row">
            <div class="alert alert-danger col-md-offset-2 col-md-6">
                <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                <span><h4>You are not permitted to view this page</h4></span>
            </div>
        </div>
    </div> 
</section>


 

 