<section data-ng-controller="InstructorsController" data-ng-init="viewTrainee()">
	<div class="container" data-ng-show="user.role === 'instructor'">
        <ng-include src='"/modules/instructors/views/instructor.sidebar.html"'></ng-include>
        <div class="admin-view">
	    	<p style='margin-top: 30px'>You have selected</p>
	    	<p class="capitalize">{{trainee.firstName}} {{trainee.lastName}} as a fellow</p>
	    </div>
    </div>
    <div data-ng-show="user.role !== 'instructor'">
        <div class="row">
            <div class="alert alert-danger col-md-offset-2 col-md-6">
                <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                <span><h4>You are not permitted to view this page</h4></span>
            </div>
        </div>
    </div>
</section>