<!-- <section data-ng-controller="InstructorsController" data-ng-init="viewFellow()">
    <div class="container">
        <div class="page-header text-center">
          <h1>Fellow</h1>
        </div>

        
        <div class="appt">
        
            
            <p data-ng-bind="fellow.firstName"></p>
            <p data-ng-bind="fellow.lastName"></p>
            <p data-ng-bind="fellow.email"></p>
            <!<td data-ng-bind="applicant.status.name"></td> -->
          
            <!-- <td><a class="btn btn-danger btn-xs" ng-click='deleteUser(applicant._id)'>Delete Applicant</a></td> --> 
          <!--   <p><a class="btn btn-primary btn-xs" data-ng-href="/#!/instructors/{{applicant._id}}">cr</a></p> -->
         
       <!--  </div>
       
    </div>
</section> -->