
<section data-ng-controller="AdminController" class="pad">
  <div class="container" data-ng-show="user.role === 'admin'">
  <div class="admin-test">
    <div class="link-controls">
      <ul>
      <li><a href="/#!/admin/create/camp">Create Bootcamp</a></li>
      <li><a href="/#!/admin/camps">View Bootcamps</a></li>
      <li><a href="/#!/admin/appts">View Applicants</a></li>
      <li><a href="/#!/admin/trainees">View Trainees</a></li>
      <li><a href="/#!/admin/fellows">View Fellows</a></li>
      <li><a href="/#!/admins">View Admininistrators</a></li>
      <li><a href="/#!/admin/test/create">Create Test</a></li>
      <li><a href="/#!/admin/test">View All Tests</a></li>
      <li><a href="/#!/admin/create">Create Instructor</a></li>
      <li><a href="/#!/admin/instrs">View Instructors</a></li>
      <!-- <li><a href="/auth/signout">Signout</a></li> -->
      </ul>
    </div>

    <div class="admin-view">
      <p>You're signed in as Admin with the following details:</p>
      <ul class="list-group">
        <li class="list-group-item">Name: <b data-ng-bind="user.firstName"></b> <b data-ng-bind="user.lastName"></b></li>
        <li class="list-group-item">Username: <b data-ng-bind="user.username"></b></li>
        <li class="list-group-item">Email: <b data-ng-bind="user.email"></b> </li>
      </ul>
    </div>
        
  </div>

  </div>

  <div class="container" data-ng-show="user.role !== 'admin'">
    <b class="reqLogin">You have no access to this page. You need to <a href="/#!/signin">signin</a> as an admin.</b>
  </div>
</section>



