<section data-ng-controller="AdminController">
  
  <div style="width: 500px;">
    <br><br><br><br><br><br><br><br>
    <h1><a href="" ng-click='viewTrainees()'>View Trainees</a></h1>
    <h1><a href="" ng-click='listApplicants()'>View Applicants</a></h1>
    <h1><a href="" ng-click='listFellows()'>View Fellows</a></h1>
    <h1><a href="" ng-click='listInstructors()'>View Instructors</a></h1>
    <h1><a href="" ng-click='listAdmins()'>View Admins</a></h1>
    <h1><a href="" ng-click='viewApplicant("53f635bf7a52aff418fb2e5a")'>View Applicant</a></h1>
    
  </div>
</section>