<section class="row" data-ng-controller="AdminController" style="padding-top: 150px;">
  <div class="container" data-ng-show="user.role === 'admin'">
    <div class="link-controls">
      <ul>
      <li><a href="/#!/admin/fellows">View All Fellows</a></li>
      <li><a href="/#!/admin/trainees">View Trainees</a></li>
      <li><a href="/#!/admin/camps">View Bootcamps</a></li>
      <li><a href="/#!/admin/create/camp">Create Bootcamp</a></li>
      <li><a href="/#!/admins">View Admininistrators</a></li>
      <li><a href="/#!/admin/instrs">View Instructors</a></li>
      <li><a href="/#!/admin/test/create">Create Registration Test</a></li>
      <li><a href="/#!/admin/test">View All Tests</a></li>
      </ul>
    </div>


    <div class="admin-view">
        
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-4">
          <h3 class="text-center">Create new Bootcamp</h3><br>
            <form data-ng-submit="createCamp()" name="create_camp_form" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <label for="start_date">Start date</label>
                        <input type="text" id="start_date" name="start_date" class="form-control" data-ng-model="credentials.start_date" placeholder="M/D/YY" required>
                    </div>
                    <div class="form-group">
                        <label for="end_date">End date</label>
                        <input type="text" id="end_date" name="end_date" class="form-control" data-ng-model="credentials.end_date" placeholder="M/D/YY" required>
                    </div>
                    <div class="text-center form-group">
                        <input type="submit" data-ng-disabled="create_camp_form.$invalid" value="Create Camp" class="btn btn-large btn-primary">
                    </div>

                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                   
                </fieldset>
            </form>
        </div>
    </div>
    </div>

    <div class="container" data-ng-show="user.role !== 'admin'">
      <b class="reqLogin">You have no access to this page. You need to <a href="/#!/admin">signin</a> as an admin.</b>
    </div>
</section>