<section data-ng-controller="AdminController">
  

  <div class="container">
  <div class="admin-test">
    <br><br><br><br>
    <div class="pull-right" data-ng-show="user">
        <a href="/auth/signout">Signout</a>
    </div>

    <div><a href="" ng-click='viewTrainees()'>View Trainees</a></div>
    <div><a href="" ng-click='listApplicants()'>View Applicants</a></div>
    <div><a href="" ng-click='listFellows()'>View Fellows</a></div>
    <div><a href="" ng-click='listInstructors()'>View Instructors</a></div>
    <div><a href="" ng-click='listAdmins()'>View Admins</a></div>
    <div><a href="" ng-click='viewApplicant("53f635bf7a52aff418fb2e5a")'>View Applicant</a></div>
    <div><a href="" ng-click='assignBootCamp("53f635bf7a52aff418fb2e5a", "53f634711c14d36019f692d5")'>Assign Bootcamp</a></div>
    <div>Change Applicant Role
    <form data-ng-submit="changeRole()" class="signin form-horizontal" autocomplete="off">
    <fieldset>
        <label for="apptId" style="display: block">
            <b>Appt id:</b>
            <input type="text" data-ng-model="apptId" id="apptId" placeholder="apptId" required>
        </label>        
        <label for="category"><span>Role: </span>
            <select data-ng-model="appt.role" id="category">
              <option value="applicant">applicant</option>
            </select>
        </label>

        <button type="submit" class="btn btn-xs btn-primary">Change Role</button>
        
        <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </fieldset>
    </form>
    </div>
    <p>Scope user</p>: {{user}}
    
  </div>

  </div>
</section>