<section class="row" data-ng-controller="AdminController">
    
    <div class="link-controls">
      <ul>
      <li><a href="/#!/admin/create/camp">Create Bootcamp</a></li>
      <li><a href="/#!/admin/camps">View Bootcamps</a></li>
      <li><a href="/#!/admin/appts">View Applicants</a></li>
      <li><a href="/#!/admin/trainees">View Trainees</a></li>
      <li><a href="/#!/admin/fellows">View Fellows</a></li>
      <li><a href="/#!/admins">View Admininistrators</a></li>
      <li><a href="/#!/admin/test/create">Create Test</a></li>
      <li><a href="/#!/admin/create">Create Instructor</a></li>
      <li><a href="/#!/admin/instrs">View Instructors</a></li>
      <li><a href="/auth/signout">Signout</a></li>
      </ul>
    </div>


    <div class="admin-view">
        <h3 class="col-md-12 text-center">Create new Camp</h3>

        <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
            <form data-ng-submit="createCamp()" name="create_camp_form" class="signin form-horizontal" novalidate autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <label for="camp_name">Camp Name</label>
                        <input type="text" required id="camp_name" name="camp_name" class="form-control" data-ng-model="credentials.camp_name" placeholder="Camp Name">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start date</label>
                        <input type="datetime-local" id="start_date" name="start_date" class="form-control" data-ng-model="credentials.start_date" placeholder="Start date"/>
                    </div>
                   <div class="form-group">
                        <label for="end_date">End date</label>
                        <input type="datetime-local" id="end_date" name="end_date" class="form-control" data-ng-model="credentials.end_date" placeholder="End date"/>
                    </div>
                   <div class="text-center form-group">
                        <input type="submit" value="Create Camp" class="btn btn-large btn-primary">
                    </div>
                   
                </fieldset>
            </form>
        </div>
    </div>
</section>