<section data-ng-controller="AdminController" data-ng-init="listFellows()" class="pad">
  <div class="container" data-ng-show="user.role === 'admin'">
    <div class="col-sm-12 col-lg-12" data-ng-show="user">
        <a class="btn btn-xs btn-primary pull-right" href="/#!/admin/welcome">Back To Admin Home</a>
    </div>
    <ng-include src='"/modules/admin/views/admin.sidebar.html"'></ng-include>

    <div class="admin-view">
    <div class="page-header text-center">
      <h1>Fellows</h1>
    </div>
    <!-- <div> -->
    <div data-ng-init="listcamps()">
      <label for="category">Filter Fellows by: </label>
      <select ng-model="camp_filter">
          <option value="">All BootCamps</option>
          <option ng-repeat="camp in camp_options" value="{{camp}}">{{camp}}</option>
      </select>
       <div class="pull-right">
        <label for="category">Display Fellow Availability in Weeks: </label>
        <select data-ng-model="weeks" id="work_availability">
        <option ng-repeat="n in [] | range:11" value="{{$index}}">{{$index}}</option>
      </select>
      </div>
    </div>
    
      <!-- </div> -->
    <div>
      <table class="list list-link">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Availability</th>
            <th>Availability Weeks</th>
            <!-- <th></th> -->
            <!-- <th></th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="fellow in fellows | filter: camp_filter | filter: weekFilter" data-ng-init="check_placement(fellow, $index)">
          <td><a ng-href="/#!/admin/appt/{{fellow._id}}">{{$index + 1}}</a></td>
          <td><a ng-href="/#!/admin/appt/{{fellow._id}}">{{fellow.firstName}}</a></td>
          <td><a ng-href="/#!/admin/appt/{{fellow._id}}">{{fellow.lastName}}</a></td>
          <td><a ng-href="/#!/admin/appt/{{fellow._id}}">{{fellow.email}}</a></td>
          <td data-ng-bind="fellow.available"><a ng-href="/#!/admin/appt/{{fellow._id}}"></a></td>
          <td data-ng-bind="fellow.week"><a ng-href="/#!/admin/appt/{{fellow._id}}"></a></td>
           <td><button ng-click="deleteFellow(fellow._id, $index)" class="btn btn-danger btn-xs">Delete User</button></td>
        </tr>
      </table>
    </div>
  </div>
  </div>

  <div class="container" data-ng-show="user.role !== 'admin'">
    <b class="reqLogin">You have no access to this page. You need to <a href="/#!/signin">signin</a> as an admin.</b>
  </div>
</section>

