<section data-ng-controller="AdminController" data-ng-init="listApplicants()">
  <div class="container">
    <div class="page-header text-center">
      <h1>Applicants</h1>
    </div>

    <div class="list-group">
      <table class="appt">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="applicant in applicants">
            <td data-ng-bind="applicant.firstName"></td>
            <td data-ng-bind="applicant.lastName"></td>
            <td data-ng-bind="applicant.email"></td>
            <td data-ng-bind="applicant.status.name"></td>
            <td><a class="btn btn-primary btn-xs" ng-href="/#!/admin/editappt/{{applicant._id}}">Change Status</a></td>
            <td><a class="btn btn-danger btn-xs" ng-click='deleteUser(applicant._id, $index)'>Delete Applicant</a></td>
          </tr>               
        </tbody>
      </table>
    </div>
  </div>

</section>