<section data-ng-controller="AdminController" data-ng-init="listcamps()" class="pad">
    <div class="container" data-ng-show="user.role === 'admin'">

    <ng-include src='"/modules/admin/views/admin.sidebar.html"'></ng-include>

    <div class="admin-view">
        <div class="page-header text-center">
          <h1>Bootcamps</h1>
        </div>
        <div class="pull-right">
            <a class="btn btn-xs btn-primary"href="/#!/admin/create/camp">Create Bootcamp</a>
        </div>
      
        <div>
            <table class="list list-link">
                <thead>
                  <tr>
                    <th>Camp Name</th>
                    <th>Start Date</th>                   
                    <th>Applicants</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                      <tr data-ng-repeat="camp in camps">
                        <td><a ng-href="/#!/admin/camps/{{camp._id}}">{{camp.camp_name}}</a></td>
                        <td data-ng-bind="camp.start_date | date"></td>                      
                        <td data-ng-bind="camp.applicants.length"></td>
                        <td>
                            <a class="fixbtn btn btn-danger btn-xs" data-ng-click="deleteCamp(camp._id, $index)">
                                Delete
                            </a>
                        </td>
                    </tr>               
                </tbody>
            </table>
        </div>
        </div>
    </div>

    <div class="container" data-ng-show="user.role !== 'admin'">
      <b class="reqLogin">You have no access to this page. You need to <a href="/#!/admin">signin</a> as an admin.</b>
    </div>
</section>
