<section data-ng-controller="AdminController" data-ng-init="listFellows()" class="pad">
  <div class="container" data-ng-show="user.role === 'admin'">
    <div class="col-sm-12 col-lg-12" data-ng-show="user">
        <a class="btn btn-xs btn-primary pull-right" href="/#!/admin/welcome">Back To Admin Home</a>
    </div>
    <ng-include src='"/modules/admin/views/admin.sidebar.html"'></ng-include>

    <div class="admin-view">
    <div class="page-header text-center">
      <h1>Fellows</h1>
    </div>
    <div data-ng-init="listcamps()">
      <label for="category">Filter Fellows by: </label>
      <select ng-model="search_filter">
          <option value="">All BootCamps</option>
          <option ng-repeat="camp in camp_options" value="{{camp}}">{{camp}}</option>
      </select>
      <br>
    </div>
    <div>
      <table class="list list-link">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Strength</th>
            <th></th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="fellow in fellows | filter: search_filter">
          <td><a ng-href="/#!/admin/appt/{{fellow._id}}">{{fellow.firstName}}</a></td>
          <td><a ng-href="/#!/admin/appt/{{fellow._id}}">{{fellow.lastName}}</a></td>
          <td><a ng-href="/#!/admin/appt/{{fellow._id}}">{{fellow.email}}</a></td>
          <td><a ng-href="/#!/admin/appt/{{fellow._id}}" ng-repeat="(key, val) in fellow.skillSummary" ng-class="{'beginner':{{val}} > 0 && {{val}} <= 2, 'junior': {{val}} > 2 && {{val}} <= 4, 'intermediate': {{val}} > 4 && {{val}} <= 6, 'senior': {{val}} > 6 && {{val}} <= 8, 'expert': {{val}} > 8  && {{val}} <= 10 }"
          ><span class="{{key}}"><i class="hide_text">{{key}} = {{val}}</i></span></a></td>
          <!-- <td><a href='' ng-click="/fellows/{{fellow._id}}/rate">Rate Fellow</a></td> -->
          <td><button ng-click="deleteFellow(fellow._id, $index)" class="btn btn-danger btn-xs">Delete User</button></td>
        </tr>
      </table
      <!-- <div class="fellow-div" ng-repeat="fellow in fellows | filter: search_filter">
        <h2 class="fellow"><a ng-href="/#!/admin/appt/{{fellow._id}}">{{fellow.firstName + " " + fellow.lastName}}</a></h2>
        <span><a ng-href="/#!/admin/appt/{{fellow._id}}">{{fellow.email}}</a></span>
        <div class="skill_background">
          <span ng-repeat="(key, val) in fellow.skillSummary"><i class="{{key}}"> {{key}} </i>  = {{val}}<br> </span>
        </div>
      </div> -->
    </div>
  </div>
  </div>

  <div class="container" data-ng-show="user.role !== 'admin'">
    <b class="reqLogin">You have no access to this page. You need to <a href="/#!/signin">signin</a> as an admin.</b>
  </div>
</section>

