<section data-ng-controller="AdminController" data-ng-init="viewTrainees()" class="pad">
  <div class="container" data-ng-show="user.role === 'admin'">
    <div class="col-sm-12 col-lg-12" data-ng-show="user">
        <a class="btn btn-xs btn-primary pull-right" href="/#!/admin/welcome">Back To Admin Home</a>
    </div>
    <ng-include src='"/modules/admin/views/admin.sidebar.html"'></ng-include>

    <div class="admin-view">
    <div class="page-header text-center">
      <h1>Trainees</h1>
    </div>

    <div>
      <table class="list list-link">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Assessments</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="trainee in trainees">
            <td><a ng-href="/#!/admin/appt/{{trainee._id}}">{{trainee.firstName}} </a></td>
            <td><a ng-href="/#!/admin/appt/{{trainee._id}}">{{trainee.lastName}} </a></td>
            <td><a ng-href="/#!/admin/appt/{{trainee._id}}">{{trainee.email}} </a></td>
            <td><a ng-href="/#!/admin/appt/{{trainee._id}}">View Full Profile</a></td>
            <td>
              <form data-ng-submit='changeRoleToFellow(trainee._id, $index)' class="form_trainee signin form-horizontal" autocomplete="off">
                <fieldset>
                  <div class="form-group">
                    <select data-ng-model="role[$index]" id="category">
                      <option value="applicant">Applicant</option>
                      <option value="fellow" selected="selected">Fellow</option>
                    </select>
                  </div>
                  <div class="form-group">
                  <button type="submit" class="btn btn-xs btn-primary">Change Role</button>
                  </div>
                </fieldset>
              </form>
            </td>
        </tr>
      </table>
    </div>
  </div>
  </div>

  <div class="container" data-ng-show="user.role !== 'admin'">
    <b class="reqLogin">You have no access to this page. You need to <a href="/#!/admin">signin</a> as an admin.</b>
  </div>
</section>
