<section data-ng-controller="AdminController" data-ng-init="viewcamp()" class="pad">
    <div class="container" data-ng-show="user.role === 'admin'">
      <ng-include src='"/modules/admin/views/admin.sidebar.html"'></ng-include>

      <div class="admin-view">
        <div class="page-header text-center">
          <h2>Applicants to Bootcamp {{camp.camp_name}}</h2>
        </div>

        <div>
          <table class="list list-link">
            <thead>
              <tr> 
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Score</th>
                <th>Date Applied</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="applicant in camp.applicants">
                <td><a ng-href="/#!/admin/appt/{{applicant._id}}">{{applicant.firstName}}</a></td>
                <td><a ng-href="/#!/admin/appt/{{applicant._id}}">{{applicant.lastName}}</a></td>
                <td><a ng-href="/#!/admin/appt/{{applicant._id}}">{{applicant.email}}</a></td>
                <td><a ng-href="/#!/admin/appt/{{applicant._id}}">{{applicant.testScore}}</a></td>
                <td><a ng-href="/#!/admin/appt/{{applicant._id}}">{{applicant.created | date : longDate}}</a></td>

                <td style="text-transform: capitalize"><a ng-href="/#!/admin/appt/{{applicant._id}}">{{applicant.status.name}}<b style="display: block; font-size: 0.9em" data-ng-show="applicant.status.name === 'rejected'">Reason: {{applicant.status.reason}}</b></a></td>
                
                <td class="change_status"><a class="btn btn-primary btn-sm" style="padding-top: 0 !important" ng-href="/#!/admin/editappt/{{camp._id}}/{{applicant._id}}">Change Status</a></td>
                <td><button class="btn btn-danger btn-xs" ng-click='deleteUser(applicant._id, $index)'>Delete Applicant</button></td>
              </tr>               
            </tbody>
          </table>
        </div>



      </div>

      <div class="container" data-ng-show="user.role !== 'admin'">
        <b class="reqLogin">You have no access to this page. You need to <a href="/#!/admin">signin</a> as an admin.</b>
      </div>
</section>