<section data-ng-controller="AdminController" data-ng-init="viewTests()" class="pad">
  <div class="container" data-ng-show="user.role === 'admin'">
    <div class="col-sm-12 col-lg-12" data-ng-show="user">
        <a class="btn btn-xs btn-primary pull-right" href="/#!/admin/welcome">Back To Admin Home</a>
    </div>
    <div class="link-controls">
      <ul>
      <li><a href="/#!/admin/create/camp">Create Bootcamp</a></li>
      <li><a href="/#!/admin/camps">View Bootcamps</a></li>
      <li><a href="/#!/admin/appts">View Applicants</a></li>
      <li><a href="/#!/admin/trainees">View Trainees</a></li>
      <li><a href="/#!/admin/fellows">View Fellows</a></li>
      <li><a href="/#!/admins">View Admininistrators</a></li>
      <li><a href="/#!/admin/test/create">Create Test</a></li>
      <li><a href="/#!/admin/test">View All Tests</a></li>
      <li><a href="/#!/admin/create">Create Instructor</a></li>
      <li><a href="/#!/admin/instrs">View Instructors</a></li>
      <!-- <li><a href="/auth/signout">Signout</a></li> -->
      </ul>
    </div>

    <div class="admin-view">
    <div class="page-header text-center">
      <h1>Tests</h1>
    </div>

    <div>
      <table class="list list-link">
        <thead>
          <tr>
            <th>Test Name</th>
            <th>Created On</th>
            <th>No of questions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="test in tests">
            <td><a ng-href="/#!/admin/test/{{test._id}}">{{test.testName}}</a></td>
            <td><a ng-href="/#!/admin/test/{{test._id}}">{{test.created | date : longDate}}</a></td>
            <td><a ng-href="/#!/admin/test/{{test._id}}">{{test.questions.length}}</a></td>
            <td><a class="fixbtn btn btn-danger btn-xs" ng-click="deleteTest(test._id, $index)">Delete Test</a></td>
            </td>
          </tr>               
        </tbody>
      </table>
    </div>

  </div>
  </div>

  <div class="container" data-ng-show="user.role !== 'admin'">
    <b class="reqLogin">You have no access to this page. You need to <a href="/#!/admin">signin</a> as an admin.</b>
  </div>
</section>