<section>
	<div data-ng-controller="ApplicantController" data-ng-init="findOne()" class="page-header">
		<div class="page-header">
			<table class="table table-condensed">
				<thead class="info">
					<tr>
						<td>Username</td>
						<td>Firstname</td>
						<td>Lastname</td>
						<td>Email</td>
						<td>Portfolio</td>
						<td>Skill Set</td>
					</tr>
				</thead>
				<tbody class="success">
				<tr>
					<td data-ng-bind="applicant.username" style="text-align:left"></td>
					<td data-ng-bind="applicant.firstName" style="text-align:left"></td>
					<td data-ng-bind="applicant.lastName" style="text-align:left"></td>
					<td data-ng-bind="applicant.email" style="text-align:left"></td>
					<td data-ng-bind="applicant.portfolio" style="text-align:left"></td>
					<td data-ng-bind="applicant.skillsets" style="text-align:left"></td>
				</tr>
			</tbody>
			</table>
		
		</div>
	</div>
</section>
