<section>
	<div data-ng-controller="ApplicantController" data-ng-init="findOne()" class="page-header">
		<div class="page-header">
			<table>
				<thead>
					<tr>
						<td>Username</td>
						<td>Firstname</td>
						<td>Lastname</td>
						<td>Email</td>
						<td>Portfolio</td>
						<td>Skill Set</td>
					</tr>
				</thead>
				<tr>

				</tr>
			</table>
		<h1 data-ng-bind="applicant.username" style="text-align:left"></h1>
		<h1 data-ng-bind="applicant.firstName" style="text-align:left"></h1>
		<h1 data-ng-bind="applicant.email" style="text-align:left"></h1>
		</div>
	</div>
</section>
