<section data-ng-controller="ApplicantController" data-ng-init="find()">
   
    <div class="page-header">
        <h1>Fellows</h1>
    </div>
    <div class="table-responsive">
  		<table class="table">
	        <tr data-ng-repeat="applicant in applicants" class="">
				<td class="list-group-item-heading" data-ng-bind="applicant.username"></td>
				<td>
					<a  data-ng-href="#!/profile/{{applicant._id}}" class="btn btn-default pull-right">View</a> 
				</td>
	        </tr>
        </table>
    </div>
</section>