<section class="row" data-ng-controller="ApplicantController" data-ng-init="show_profile()">
	<h3 class="col-md-12 text-center">Welcome</h3>
		<div class="page-header">
			<div class="container">
				<div class="row table-responsive">
					<div  class="col-md-12 text-center">
						<div class="loggedin_user_profile">
					    	<table class="table table-hover" style="border-sizing:border-box">
					  				<tr class="success">
					  					<td>Firstname</td>
					  					<td>Lastname</td>
					  					<td ng-if="applicant.role == applicant">Status</td>
					  					<td ng-if="applicant.role == applicant">Score</td>
					  				</tr>
							        <tr>
										<td  data-ng-bind="user_profile.firstName"></td>
										<td  data-ng-bind="user_profile.lastName"></td>
										<td  data-ng-bind="user_profile.status.name" ng-if="applicant.role == applicant"></td>
										<td  data-ng-bind="user_profile.testScore" ng-if="applicant.role == applicant"></td>
							        </tr>
					        </table>
					    </div>
					</div>
				</div>
				<div>
					        <a href="/auth/signout">Signout</a>
					    </div>
					</div>
		    </div>
</section>