<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" data-ng-controller="AuthenticationController">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
		 <form name="test">
            <div class="form-group">
                <input type="text" data-ng-model="questions[0]" name="quest" placeholder="Question 1" required>
            </div>
            <div class="form-group" data-ng-repeat="choice in choiceOne">
                <label for="choice" data-ng-show="showChoiceLabel(choice)">Choices</label>

                <input type="text" data-ng-hide="isSelected('optionOne'+$index)" data-ng-model="optionOne[$index]['option']" name="choice" placeholder="{{'option ' + ($index+1)}}" required>
                
                <button type="button" data-ng-click="setShow('optionOne'+$index)">
                    Edit
                </button>
                <input type="radio" name="option" value="true" data-ng-model="optionOne[$index]['answer']" data-ng-change="changeAnsVal($index, 1)">Answer

                <span data-ng-show="isSelected('optionOne'+$index)">{{optionOne[$index]}}
                 <button type="button" data-ng-click="setShow(null)">back</button>
                </span>

                <button type="button" data-ng-click="deleteChoice($index, 1)" data-ng-show="choiceOne.length > 2">Delete</button>
                <button type="button" data-ng-click="addNewChoice(1)" data-ng-show="showAddChoice(choice,1)">
                    Add another choice
                </button>
            </div>
            <div class="form-group">
                <input type="text" data-ng-model="questions[1]" name="quest" placeholder="Question 2" required>
            </div>
            <div class="form-group" data-ng-repeat="choice in choiceTwo">
                <label for="choice" data-ng-show="showChoiceLabel(choice)">Choices</label>
                <input type="text"  data-ng-hide="isSelected('optionTwo'+$index)" data-ng-model="optionTwo[$index]['option']" name="choice" placeholder="{{'option ' + ($index+1)}}" required>
                <button type="button" data-ng-click="setShow('optionTwo'+$index)">
                    Edit
                </button>
                 <input type="radio" name="option1" value="true" data-ng-model="optionTwo[$index]['answer']" data-ng-change="changeAnsVal($index, 2)">Answer

                <span data-ng-show="isSelected('optionTwo'+$index)">{{optionTwo[$index]}}
                 <button type="button" data-ng-click="setShow(null)">back</button>
                </span>
                <button type="button" data-ng-click="deleteChoice($index, 2)" data-ng-show="choiceTwo.length > 2">
                    Delete
                </button>
                <button type="button" data-ng-click="addNewChoice(2)" data-ng-show="showAddChoice(choice,2)">
                    Add another choice
                </button>
            </div>
              <button type="submit" data-ng-disabled="test.$invalid || !answered.bool || !answeredTwo.bool" class="btn btn-large btn-primary">Submit</button>
            </form>
            {{questions[0]}}{{optionOne}}
            {{questions[1]}}{{optionTwo}}

            <form name="update" class="form-horizontal" data-ng-submit="create()">
                 <div data-ng-show="error" class="alert alert-danger">
                    <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                    <span data-ng-bind="error"></span>
                </div>
                <div data-ng-show="success" class="alert alert-success">
                    <a class="close" data-dismiss="alert" data-ng-click="removeAlert('success')" href="#">×</a>
                    <span data-ng-bind="success"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">experience</label>
                    <input type="text" name="experience" data-ng-model="details.exp">
                </div>
                 <div class="form-group" data-ng-class="{'has-error': file && !correctFormat }">
                    <label for="upload">Upload Image</label>
                    <input type="file" data-ng-file-select="onFileSelect($files)" name="upload" accept="image/png, image/jpeg">
                    <span class="text text-danger" data-ng-show="file && !correctFormat">Please only jpeg and png formats are allowed</span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" data-ng-disabled="file && !correctFormat">
                </div>
                <a href="#" data-ng-click="download('path')">download</a>
            </form>
        </div>
	</div>
</section>
